.my-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 20rem;
  /* margin: auto; */
}

.create-account-text {
  font-weight: 300;
  font-size: 1.125rem;
  text-align: center;
}

.btn-login {
  background-color: #000;
  color: white;
  width: 100%;
  border-radius: 0.5rem; 
  padding: 0.75rem; 
  padding-bottom: 0.75rem;
  margin-top: 1rem; 
  margin-bottom: 0.5rem;
}

.btn-login:disabled {
  color: rgba(0, 0, 0, 0.4); 
  background-color: white;
}

.btn-register {
  border: 1px solid #000;
  color: #000;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.btn-register:disabled{
  color: rgba(0, 0, 0, 0.4); 
  border-color: rbga(0, 0, 0, 0.4);
}

.my-form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 2rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.input-fields-label {
  font-weight: 300;
  font-size: 0.875rem;
}

.input-field {
  border-radius: 0.5rem;
  border-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.input-field::placeholder{
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 0.6);
}

.input-field:focus{
  outline: none;
}

.my-form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.btn-create-account{
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* font-medium text-xl text-center mb-6 w-80 */
.header{
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 1.5rem;
  width: 20rem;
}