.my-orders-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 20rem;
  margin-bottom: 1rem;
}

.my-orders-header {
  font-weight: 500;
  font-size: 1.25rem;
}

