.order-card-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  width: 100px;
  height: 100px;
}

.order-card-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.order-card-image {
  width: 100px;
  height: 100px;
}

.order-card-title {
  font-size: 1rem;
  font-weight: light;
}

.order-card-price {
  font-size: 1.25rem;
  font-weight: medium;
}

.order-card-delete-icon {
  cursor: pointer;
} 