/* .orders-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 1rem;
  width: 80px;
}

.orders-card-details {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  width: calc(100% - 20px); 
}

.orders-card-date,
.orders-card-articles {
  display: flex;
  flex-direction: column;
}

.orders-card-icon,
.orders-card-chevron {
  height: 10px;
  width: 10px;

  cursor: pointer;
}

.orders-card-price {
  font-size: 2rem;
  font-weight: medium;
} */
