.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 32px;
  margin-bottom: 16px;
} 


.header-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.75rem;
}

.search-input {
  border-radius: 8px;
  border: 1px solid black;
  width: 20rem;
  padding: 16px;
  margin-bottom: 16px;
}

.search-input:focus{
  outline: none;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-gap: 1.5rem;
  min-width: max-content;
  max-width: 1024px;
}

@media(min-width: 640px) {
  .grid-container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media(min-width: 768px) {
  .grid-container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media(min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
