.card-container {
  cursor: pointer;
  width: 200px;
  height: 350px;
  border-radius: 8px;
  border-color: rgba(61, 60, 60, 0.6);
  margin-bottom: 20px;
  margin-top: 20px;
  display: grid;
  grid-column: 1 / span 2;
}

.card-image {
  width: 100px;
  border-radius: 8px;
}


.category-label {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  color: black;
  font-size: 0.75rem;
  margin: 0.5rem;
  padding: 0.25rem 0.5rem;
}


.icon-button {
  position: absolute;
  right: 150;
  top: 30;
  margin: 0.5rem;
  padding: 0.25rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
}


.icon-button-check {
  background-color: white;
  color: black;
}

.card-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.card-title {
  font-size: 0.875rem;
  font-weight: light;
}

.card-price {
  font-size: 1.25rem;
  font-weight: medium;
  padding: 5px;
} 
